/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
/* headre style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner style */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;

}
.btn-primary{
    border-radius: 8px;
    color: white;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;

}
.banner img{
    width: 100;
    margin-top: 20px;
}


/* main styles */

main{
    max-width: 1440px;
    margin: 70px auto;
}
/* teams style */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
/* facts section */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;

}

.Sponsers{
    text-align: center;
}
.sponser-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
.features{
    display: flex;
    margin-top: 50px;
    gap: 100px;
}
.features .section-title{
    color: var(--dark-01, #131313);
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 468px;
}
.features-content .card{
    color: var(--dark-01, #131313);
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.ten-years-badge{
    border-radius: 8px;
background: #FF900E;
width: 342px;
height: 200px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 65px;
font-style: normal;
font-weight: 700;
line-height: 70px; /* 107.692% */
width: 258px;
text-align: center;
position: relative;
bottom: 100px;
}
.ten-years-badge h2{
    font-size: 4rem;
    margin: 0;

}
.ten-years-badge p{
    font-size: 1.5rem;

}
.footer{
    width: 1440px;
height: 100px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF4E7;
margin-top: 50px;
}
.footer p{
    padding-top: 50px;
color: var(--dark-02, #424242);
text-align: center;

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}







/* responsive media queries */
/* mobile devices */
@media screen  and (max-width: 576px) {
    header{
        padding: 20px;}

        nav, .teams-container {
            flex-direction: column;
        }
        .teams-img-container{
            grid-template-columns: 1fr;
    .teams-content{
        padding-left: 70px;
        padding-right: 70px;
}
        }
/* tablet or medium decices */
@media screen and (min-width:576px) and (max-width: 960px) {
nav, .teams-container {
    flex-direction: column;
}